/* Indholdsfortegnelse
1.0 Forside styling
1.1 Baggrund til forsiden
1.2 Navigationsbar
1.3 Cookie banner
1.4 Forside indhold
1.5 Footer
1.6 Media queries til forsiden
    Undersider
2.0 Program styling
3.0 Om os styling
4.0 Kontinet sider styling
4.1 Plakat banner styling
4.2 Program styling
4.3 Tilbageknap
4.4 Kontinet media queries
5 Merch styling
6 Sponsorer styling
*/
/* 1.0 Forside styling */
body {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}
/* 1.1 baggrunden til forsiden */
.background {
    background-image: url("img/worldmap.gif");
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
}
.background img {
    width: 100%;
}
/* 1.2 Navigation */
.navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightgray;
    position: fixed;
}

#navbarNav {
    width: 100%;
    justify-content: space-around;
    align-content: center;
    font-size: 1.5em;
}

.navbar-nav {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.row-nav {
    width: 100%;
}
.nav-link {
    text-align: center;
}

.navbar-brand {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.navbar-brand img {
    width: 10%;
}
/* 1.3 cookie banner */
#cookie-law { 
    width:100%;
    background: #3581c3; 
    margin:0 auto 0;
    position: fixed;
    bottom: 0;
    z-index: 200;
}
 
#cookie-law p { 
    padding:10px; 
    font-size:1.2em; 
    font-weight:bold; 
    text-align:center; 
    color:white; 
    margin:0;
}

#cookie-law a {
    color: white;
    text-decoration: underline;
}

#cookieclose {
	color: white;
	font-size: 1.5em;
	text-align: center;
	padding-top: 1%;
	text-decoration:none;
}
/* cookie slut */
/* 1.4 Indhold på forsiden */
.main {
    height: 100%;
    width: 100%;
    float: left;
}

.main a {
    color: lightgray;
    font-size: 2.5em;
}

.sydamerica-farve {
    color: #0ba3dc;
}

.row1 {
    display: flex;
}
.row2 {
    display: flex;
}

.nordamerica {
    height: 50%;
    width: 35%;
    position: absolute;
    top: 15%;
    left: 11%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.nordamerica a {
    text-decoration: none;
    color: #3d4849;
    height: 100%;
    width: 100%;
}

#nordamerika-text {
    display: none;
}

.sydamerika {
    height: 25%;
    width: 10%;
    position: absolute;
    top: 70%;
    left: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.sydamerika a {
    text-decoration: none;
    color: #3d4849;
    height: 100%;
    width: 100%;
}

#sydamerika-text {
    display: none;
}

.europa {
    height: 20%;
    width: 18%;
    position: absolute;
    top: 23%;
    left: 49%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.europa a {
    text-decoration: none;
    color: #3d4849;
}

#europa-text {
    display: none;
}

.asien {
    height: 35%;
    width: 30%;
    position: absolute;
    top: 18%;
    left: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.asien a {
    text-decoration: none;
    color: #3d4849;
    height: 100%;
    width: 100%;
}

#asien-text {
    display: none;
    padding-right: 30%;
}

.afrika{
    height: 30%;
    width: 15%;
    position: absolute;
    top: 45%;
    left: 48%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.afrika a {
    text-decoration: none;
    color: #3d4849;
    height: 100%;
    width: 100%;
}

#afrika-text {
    display: none;
}

/* 1.5 footer */
footer {
    width: 100%;
    padding: 2%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    background-color: lightgray;
}

.some {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightgray;
}

.some-item img {
    width: 40%;
}

.kontakt {
    text-align: left;
    margin-left: -10%;
}

.mapouter{
    position:relative;
    text-align:right;
    height:250px;
    width:250px;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:250px;
    width:250px;
}

/* 1.6 Media queries til forsiden */
@media screen and (max-width: 1800px) {
    .nordamerica {
        height: 50%;
        width: 29%;
        position: absolute;
        top: 15%;
        left: 18%;
    }
    .sydamerika {
        height: 25%;
        width: 10%;
        position: absolute;
        top: 68%;
        left: 33%;
    }
    .europa {
        height: 20%;
        width: 15%;
        position: absolute;
        top: 23%;
        left: 48%;
    }
    .afrika {
        height: 26%;
        width: 12%;
        position: absolute;
        top: 45%;
        left: 48%;
    }
    .asien {
        height: 35%;
        width: 27%;
        position: absolute;
        top: 18%;
        left: 58%;
    }
}

@media screen and (max-width: 1366px) {
    .nordamerica {
        height: 50%;
        width: 35%;
        position: absolute;
        top: 15%;
        left: 10%;
    }
    .sydamerika {
        height: 25%;
        width: 11%;
        position: absolute;
        top: 68%;
        left: 30%;
    }
    .europa {
        height: 20%;
        width: 15%;
        position: absolute;
        top: 23%;
        left: 48%;
    }
    .afrika {
        height: 26%;
        width: 15%;
        position: absolute;
        top: 45%;
        left: 47%;
    }
    .asien {
        height: 35%;
        width: 30%;
        position: absolute;
        top: 18%;
        left: 63%;
    }
}

  @media screen and (max-width: 1250px) {
    .nordamerica {
        height: 50%;
        width: 35%;
        position: absolute;
        top: 15%;
        left: 11%;
    }
    .sydamerika {
        height: 25%;
        width: 11%;
        position: absolute;
        top: 68%;
        left: 30%;
    }
    .europa {
        height: 20%;
        width: 15%;
        position: absolute;
        top: 23%;
        left: 48%;
    }
    .afrika {
        height: 26%;
        width: 15%;
        position: absolute;
        top: 45%;
        left: 47%;
    }
    .asien {
        height: 35%;
        width: 30%;
        position: absolute;
        top: 18%;
        left: 60%;
    }
    #asien-text {
        display: none;
        padding-left: 50%;
    }
}

@media (max-width: 1024px) {
    @media screen and (max-height: 1366px) {
        .nordamerica {
            height: 50%;
            width: 44%;
            position: absolute;
            top: 15%;
            left: 0%;
        }
        .sydamerika {
            height: 25%;
            width: 19%;
            position: absolute;
            top: 68%;
            left: 12%;
        }
        .europa {
            height: 20%;
            width: 24%;
            position: absolute;
            top: 23%;
            left: 48%;
        }
        .afrika {
            height: 26%;
            width: 28%;
            position: absolute;
            top: 45%;
            left: 44%;
        }
        .asien {
            height: 35%;
            width: 32%;
            position: absolute;
            top: 18%;
            left: 68%;
        } 
    }
    
}

@media (max-width: 1024px) {
    @media screen and (max-height: 768px) {
        .nordamerica {
            height: 50%;
            width: 35%;
            position: absolute;
            top: 15%;
            left: 9%;
        }
        .sydamerika {
            height: 25%;
            width: 14%;
            position: absolute;
            top: 68%;
            left: 27.5%;
        }
        .europa {
            height: 20%;
            width: 17%;
            position: absolute;
            top: 23%;
            left: 48%;
        }
        .afrika {
            height: 26%;
            width: 17%;
            position: absolute;
            top: 45%;
            left: 46%;
        }
        .asien {
            height: 35%;
            width: 32%;
            position: absolute;
            top: 18%;
            left: 62%;
        } 
    }
}

@media screen and (max-width: 900px) {
    .nordamerica {
        height: 50%;
        width: 46%;
        position: absolute;
        top: 15%;
        left: 0%;
    }
    .sydamerika {
        height: 25%;
        width: 15%;
        position: absolute;
        top: 68%;
        left: 22%;
    }
    .europa {
        height: 20%;
        width: 18%;
        position: absolute;
        top: 23%;
        left: 48%;
    }
    .afrika {
        height: 26%;
        width: 15%;
        position: absolute;
        top: 45%;
        left: 47%;
    }
    .asien {
        height: 35%;
        width: 38%;
        position: absolute;
        top: 18%;
        left: 62%;
    }
}

@media screen and (max-width: 768px) {
    .nordamerica {
        height: 50%;
        width: 44%;
        position: absolute;
        top: 15%;
        left: 0%;
    }
    .sydamerika {
        height: 25%;
        width: 20%;
        position: absolute;
        top: 68%;
        left: 12%;
    }
    .europa {
        height: 20%;
        width: 24%;
        position: absolute;
        top: 23%;
        left: 48%;
    }
    .afrika {
        height: 26%;
        width: 27%;
        position: absolute;
        top: 45%;
        left: 43%;
    }
    .asien {
        height: 35%;
        width: 35%;
        position: absolute;
        top: 18%;
        left: 69%;
    }
}

@media screen and (max-width: 650px) {
    .nordamerica {
        height: 50%;
        width: 46%;
        position: absolute;
        top: 15%;
        left: 0%;
    }
    .sydamerika {
        height: 25%;
        width: 18%;
        position: absolute;
        top: 68%;
        left: 14%;
    }
    .europa {
        height: 20%;
        width: 24%;
        position: absolute;
        top: 23%;
        left: 48%;
    }
    .afrika {
        height: 26%;
        width: 26%;
        position: absolute;
        top: 45%;
        left: 43%;
    }
    .asien {
        height: 35%;
        width: 36%;
        position: absolute;
        top: 18%;
        left: 68%;
    }
    #asien-text {
        display: none;
        padding-left: 15%;
    }
}

@media screen and (max-width: 414px) {
    .main a {
        color: lightgray;
        font-size: 1.5em;
    }
    .nordamerica {
        height: 45%;
        width: 44%;
        position: absolute;
        top: 15%;
        left: 0%;
    }
    .sydamerika {
        height: 25%;
        width: 27%;
        position: absolute;
        top: 68%;
        left: 0%;
    }
    .europa {
        height: 20%;
        width: 28%;
        position: absolute;
        top: 23%;
        left: 46%;
    }
    .afrika {
        height: 26%;
        width: 33%;
        position: absolute;
        top: 45%;
        left: 43%;
    }
    .asien {
        height: 20%;
        width: 28%;
        position: absolute;
        top: 30%;
        left: 72%;
    }
}

@media (max-width: 375px) {
    @media screen and (max-height: 812px) {
        .nordamerica {
            height: 35%;
            width: 44%;
            position: absolute;
            top: 15%;
            left: 0%;
        }
        .sydamerika {
            height: 25%;
            width: 20%;
            position: absolute;
            top: 68%;
            left: 0%;
        }
        .europa {
            height: 20%;
            width: 45%;
            position: absolute;
            top: 23%;
            left: 46%;
        }
        .afrika {
            height: 26%;
            width: 48%;
            position: absolute;
            top: 45%;
            left: 40%;
        }
        .asien {
            height: 20%;
            width: 24%;
            position: absolute;
            top: 32%;
            left: 76%;
        }
    }
}
/* Forside styling slut */
/* Undersider */
/* 2.0 Program styling */
.container
{
	position: relative;
	width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.container .box
{
	position: relative;
	width: 280px;
	height: 400px;
	margin: 20px 0;
	box-sizing: border-box;
	overflow: hidden;
}
.container .box .imgBx
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	clip-path: circle(400px at center 100px);
	transition: 0.5s;
	transition-delay: 0.5s;
}
.container .box:hover .imgBx
{
	clip-path: circle(80px at center 100px);
	transition-delay: 0s;
}
.container .box:hover .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.imgBx img {
    width: 100%;
}
.container .box .content
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 55%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
}
.container .box .content h2
{
	margin: 0;
	padding: 0;
}
.container .box .content a
{
	text-decoration: none;
	background: #3581c3;
	color: #fff;
	padding: 5px;
	display: inline-block;
}
.container .box .content h2,
.container .box .content p,
.container .box .content a
{
	opacity: 0;
	transition: 0.5s;
	transform: translateY(20px);
}
.container .box:hover .content h2
{
	opacity: 1;
	transform: translateY(0px);
	transition-delay: 0.5s;
}
.container .box:hover .content p
{
	opacity: 1;
	transform: translateY(0px);
	transition-delay: 0.7s;
}
.container .box:hover .content a
{
	opacity: 1;
	transform: translateY(0px);
	transition-delay: 0.9s;
}
/* Program styling slut */
/* 3.0 Om Os styling */
.bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #1b1616;
}
.bg-2 {
    width: 100%;
    background-color: #ffffff; 
    color: #1a1717;
    text-align: center;
}
.bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: rgb(14, 12, 12);
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.line-height {
    line-height: 2em;
}
/* Om os styling slut */
/* 4.0 Kontinet sider styling */
/* 4.1 Plakat banner styling */
.plakat {
    width: 50%;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.plakat img {
    width: 50%;
}
.plakat-text {
    width: 50%;
    text-align: left;
}
#mobileshow {
    display: none;
    color: #3581c3;
    text-decoration: underline;
    cursor: pointer;
}
#mobileshowless {
    display: none;
    color: #3581c3;
    text-decoration: underline;
    cursor: pointer;
}
/* Plakat banner styling slut */
/* 4.2 Program styling */
.table {
    text-align: center;
    color: white;
    background-color: #3581c3;
    border-color: #3581c3;
}
.table tr {
    justify-content: center;
    align-content: center;
    align-items: center;
    color: white;
}
.musikerbillede {
    width: 25%;
}
.musikerbillede img {
    width: 35%;
}
/* Program styling slut */
/* 4.3 Tilbageknap */
.backbutton input {
    background-color: #3581c3;
    color: white;
    margin-left: 1%;
    border-radius: 10px;
    position: fixed;
}
/* Tilbageknap slut */
/* 4.4 Kontinet media queries */
@media screen and (max-width: 768px) {
    #mobileHide {
        display: none;
    }
    #mobileshow {
        display: block;
    }
}
/* Kontinet media queries slut */
/* kontinet sider styling slut */
/* 5 Merch styling */
.logo {
    text-align: center;
}
.pictures {
    text-align: center;
}
.pictures a {
    cursor: pointer;
    display: inline-block;
    width: 400px;
    height: 400px;
    text-indent: -9999em;
    text-align-last: auto;
}

.margin-bottom {
    margin-bottom: 2%;
}

.btn1 {
    background-image: url('img/merch/logotshirt.jpg');
    width: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
.btn1:hover {
    background-image: url('img/merch/logotshirt.jpg');
    width: 100%;
}

.btn2{
    background-image: url('img/merch/afrikatshirt.jpg');
    width: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
.btn2:hover {
    background-image: url('img/merch/afrikatshirt.jpg');
    width: 100%;
}

.btn3 {
    background-image: url('img/merch/nordamerikatshirt.jpg');
    width: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
.btn3:hover {
    background-image: url('img/merch/nordamerikatshirt.jpg');
    width: 100%;
}

.btn4{
    background-image: url('img/merch/europatshirt.jpg');
    width: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
.btn4:hover {
    background-image: url('img/merch/europatshirt.jpg');
    width: 100%;
}

.btn5 {
    background-image: url('img/merch/sydamerikatshirt.jpg');
    width: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
.btn5:hover {
    background-image: url('img/merch/sydamerikatshirt.jpg');
    width: 100%;
}

.btn6{
    background-image: url('img/merch/asientshirt.jpg');
    width: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
.btn6:hover {
    background-image: url('img/merch/asientshirt.jpg');
    width: 100%;
}
/* Merch styling slut */
/* 6 Sponsorer styling */
.img-width img {
    width: 30%;
}
.img-width {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.text-size {
    font-size: 2em;
}

@media screen and (max-width: 768px) {
    .img-width img {
        width: 90%;
    }
}
/* Sponsorer styling slut */